

<style>
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #222;
	font-family: COTILLIO, sans-serif;
	font-weight: 300;
	background:#f3e5f5;
	
	
}
</style>
<body>
<div class="container">
<!-- <div id="wallpaper"> -->

<form>
<table>
<tr>
<td>Enter Blog Title</td>
<td><input type="text" ng-model="blogpost.blogTitle"></td>
</tr>
<tr>
<td>Enter blog content</td>
<td><textarea ng-model="blogpost.blogContent"></textarea></td>
</tr>
<tr>
<td>
<button ng-click="addBlogPost(blogpost)">Add Blog</button>
</td>
</tr>
</table>
</form>

</div>
</body>