<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container-fluid">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/headerpink (1).png" alt="my blog" width=100% height="200">
    </div>
    <div class="carousel-item">
      <img src="assets/images/people2.jpg" alt="friends" width=100% height="200">
    </div>
    <div class="carousel-item">
      <img src="assets/images/images (4).jpg" alt="social" width=100% height="200">
    </div>
    <div class="carousel-item">
      <img src="assets/images/people3.jpg" alt="people" width=100% height="200">
    </div>
    <div class="carousel-item">
      <img src="assets/images/people.jpg" alt="people" width=100% height="200">
    </div>
    <div class="carousel-item">
      <img src="assets/images/images (1).jpg" alt="social" width=100% height="200">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>




  
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 ">
        <div><img src="assets/images/images (1).png" alt="cloud" width=300px height="300">
        </div>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 ">
      <p>  Social Hub is an online platform which people use to build social networks or social relations with other people who share similar personal or career interests, activities, backgrounds or real-life connections.



 <p>

Social Hub  allow users to share ideas,  posts, and to inform others about online or real-world activities and events with people in their network. Depending on the social Hub platform, members may be able to contact any other member. 
</p>
      </div>
    </div>
  </div>
</div>
    


</body>
</html>