<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Job form</h1>
<hr>

<form>
<span style="color:red">{{error.errorMsg}}</span>

<table>
<tr>
<td>Job Title</td><td> <input type="text" ng-model="job.jobTitle" required autofocus/></td>
</tr>

<tr>
<td>Company Name</td><td> <input type="text" ng-model="job.companyname" required autofocus/></td>
</tr>

<tr>
<td>Job Description</td><td><textarea ng-model="job.jobDescription" rows="3"></textarea></td>
		</tr>

<tr>
<td>Skills Required </td><td><input type="text" ng-model="job.skillsRequired" required autofocus/></td>
</tr>

<tr>
<td>Salary </td><td><input type="text" ng-model="job.salary" required autofocus/></td>
</tr>

<tr>
<td>Experience </td><td><input type="text" ng-model="job.experience" required autofocus/></td>
</tr>

<tr>
<td>Location </td><td><input type="text" ng-model="job.location" required autofocus/></td>
</tr>

<tr>
<td></td><td><button type="submit"  ng-click="addjob(job)">ADD JOB</button></td>
</tr>
</table>
</form>
</body>
</html>