<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <link href="assets/css/bootstrap.min.css" rel="stylesheet">
 <script src="assets/js/bootstrap.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="assets/js/jquery3.js"></script>
     <link rel="stylesheet" type="text/css" media="all" href= "assets/css/fileinput.min.css"> 
     <link rel="stylesheet" type="text/css" media="all" href="assets/themes/explorer/theme.css" > 
    <script src="assets/js/fileinput.min.js" type="text/javascript"></script>
    <script src="assets/themes/explorer/theme.js" type="text/javascript"></script>
     
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  
<link rel="stylesheet" href="assets/css/fontawesome-all.css" >


<title>Insert title here</title>
</head>
<body>
<br><br><br>
<div class="container kv-main">
           <div class="form-group">
            <input class="file" type="file" 
            name="image"
            data-preview-file-type="any" 
            data-upload-url="http://localhost:8081/socialHubMiddleware/uploadprofilepicture">
        </div>
        </div>
<h1>Upload</h1>       
</body>
</html>